colorlog~=6.8
homeassistant~=2026.4.0
pip~=26.0

#to upgrade existing venv, run the follwing in the terminal (followed by 2 restarts of HA):
#          pip install --upgrade --force-reinstall -r requirements.txt
